:root {
  --black: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
}

body {
  font-family: Lato;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: var(--black);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__menu {
  display: none;
}

.header__logo {
  padding: 0 41px 0 0;
}

.header__search {
  background: transparent;
}

.header__button {
  background: transparent;
}

.header__profile {
  padding: 0 33px 0 33px;
}

/* person */

.person {
  display: flex;
}

.person__wrp {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--pink);
}

.person__title {
  padding: 0 0 0 92px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.person__subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.person__pink {
  color: var(--dark-pink);
}

/* sale */

.sale {
  margin: 63px 0 0 0;
}

.sale__box {
  display: flex;
  justify-content: space-between;
}

.sale__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  text-decoration: none;
}

.women {
  background-image: url(../img/sale_woman.jpg);
}

.men {
  background-image: url(../img/sale_men.jpg);
}

.kids {
  background-image: url(../img/sale_kids.jpg);
}

.accesories {
  margin: 30px 0 0 0;
  width: 100%;
  height: 180px;
  background-image: url(../img/sale_accesories.jpg);
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.sale__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--dark-pink);
  text-transform: uppercase;
}

/* fetured-items */

.fetured-items {
  margin: 97px 0 0 0;
}

.fetured-items__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0 0 0;
}

.fetured-items__tagline {
  max-width: 315px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 13px 0 18px 18px;
}

.fetured-items__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.fetured-items__text {
  padding: 8px 0 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.fetured-items__items {
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.fetured-items__link {
  text-decoration: none;
}

.fetured-items__subtitle {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 25px 0 0 18px;
}

.fetured-items__price {
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-pink);
  padding: 0 0 20px 18px;
}

.fetured-items__box {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.fetured-items__button {
  border: 1px solid #ff6a6a;
  color: #f26376;
  padding: 14px 38px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
