:root {
  --black: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --white: #ffffff;
  --light-gray: #fbfbfb;
  --dark-gray: #5d5d5d;
  --gray: #9f9f9f;
  --ghost-white: #f8f8f8;
  --light-pink: #ff6a6a;
  --light-red: #f26376;
  --night: #000000;
  --gray-cloud: #e1e1e1;
  --silver: #6f6e6e;
  --light-silver: #e8e8e8;
  --gray-gray: #3a3838db;
}

body {
  font-family: Lato;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: var(--black);
}

.header__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0 4px 33px;
  text-transform: uppercase;
}

.menu-sub-item__title {
  padding: 20px 0 6px 33px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-pink);
  font-weight: 400;
}

.menu-sub-item__item {
  padding: 6px 0 6px 55px;
  color: var(--silver);
}

.header__box {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__menu {
  display: none;
  background-color: var(--white);
}

.header__menu-button {
  padding: 16px 0 0 203px;
  background-color: transparent;
  border: none;
}

.header__icon {
  fill: var(--light-silver);
}

.header__icon:hover {
  fill: var(--silver);
}

.header__logo {
  padding: 0 41px 0 0;
}

.header__dropdown {
  display: flex;
  height: 75px;
  align-items: center;
}

.header__dropdown:hover .header__menu {
  display: block;
  position: absolute;
  top: 75px;
  width: 232px;
  height: 765px;
  box-shadow: 20px var(--silver);
}

.header__dropdown:hover .header__icon {
  fill: var(--silver);
}

.menu-sub-item__item:hover {
  background-color: var(--gray);
  color: var(--white);
}

.header__search {
  background: transparent;
  border: none;
}

.header__search-img {
  fill: var(--white);
  height: 28px;
}

.header__search-img:hover {
  fill: var(--gray);
}

.header__button {
  background: transparent;
  border: none;
}

.header__profile {
  padding: 0 33px 0 33px;
}

/* person */

.person {
  display: flex;
}

.person__wrp {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--pink);
}

.person__title {
  padding: 0 0 0 92px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.person__subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.person__pink {
  color: var(--dark-pink);
}

/* sale */

.sale {
  margin: 63px 0 0 0;
}

.sale__box {
  display: flex;
  justify-content: space-between;
}

.sale__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 360px;
  height: 260px;
  text-decoration: none;
}

.women {
  background-image: url(../img/sale_woman.jpg);
}

.men {
  background-image: url(../img/sale_men.jpg);
}

.kids {
  background-image: url(../img/sale_kids.jpg);
}

.accesories {
  margin: 30px 0 0 0;
  width: 100%;
  height: 180px;
  background-image: url(../img/sale_accesories.jpg);
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
}

.sale__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--dark-pink);
  text-transform: uppercase;
}

/* fetured-items */

.fetured-items {
  margin: 97px 0 0 0;
}

.fetured-items__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0 0 0;
}

.fetured-items__tagline {
  max-width: 315px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-gray);
  padding: 13px 0 18px 18px;
}

.fetured-items__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.fetured-items__text {
  padding: 8px 0 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray);
}

.fetured-items__items {
  background-color: var(--ghost-white);
  margin-bottom: 30px;
  position: relative;
}

.fetured-items__items:hover .fetured-items__dropbox {
  opacity: 0.9;
}

.fetured-items__link {
  text-decoration: none;
}

.fetured-items__subtitle {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: var(--night);
  padding: 25px 0 0 18px;
}

.fetured-items__price {
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-pink);
  padding: 0 0 20px 18px;
}

.fetured-items__dropbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 72%;
}

.fetured-items__dropbox-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--white);
  padding-inline-end: 14px;
}

.fetured-items__dropbox-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  padding: 0 0 0 11px;
}

.fetured-items__dropbox-img {
  background: transparent;
}

.fetured-items__box {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.fetured-items__button {
  border: 1px solid var(--light-pink);
  color: var(--light-red);
  padding: 14px 38px;
  background-color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transform: 0.2s;
}

.fetured-items__button:hover {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--light-pink);
  cursor: pointer;
}

/* products */

.products {
  margin: 95px 0 0 0;
  background-color: var(--black);
}

.products__list {
  display: flex;
  justify-content: space-between;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__text {
  max-width: 360px;
}

.products__img {
  padding: 103px 0 0 0;
}

.products__subtitle {
  padding: 25px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--light-gray);
}

.products__text {
  max-width: 310px;
  padding: 16px 0 104px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-gray);
  text-align: center;
}

/* footer-info */

.footer-info {
  background-image: url(../img/footer_info_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-info__img {
  padding: 87px 0 0 0;
}

.footer-info__text {
  max-width: 360px;
  text-align: center;
  padding: 35px 0 126px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer-info__subtext {
  font-style: italic;
}

.footer-info__title {
  padding: 0 65px 0 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}

.footer-info__subtitle {
  padding: 0 65px 0 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.footer-info__form {
  display: flex;
  justify-content: center;
  padding: 32px 65px 0 0;
}

.footer-info__input {
  padding: 0 0 0 22px;
  width: 220px;
  height: 49px;
  border-radius: 25px 0 0 25px;
  border: none;
  background-color: var(--gray-cloud);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

.footer-info__input:focus {
  outline: 1px solid var(--dark-pink);
  background-color: var(--light-gray);
}

.footer-info__button {
  height: 49px;
  width: 100px;
  border-radius: 0 25px 25px 0;
  background-color: var(--dark-pink);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.footer-info__button:hover {
  outline: 1px solid var(--light-pink);
  color: var(--light-red);
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

/* footer-copy */

.footer-copy {
  background-color: var(--black);
  min-height: 79px;
}

.footer-copy__text {
  padding: 15px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-gray);
}

.footer-copy__item {
  padding: 0 0 0 7px;
}

.footer-copy__list {
  padding: 24px 0 0 0;
  display: flex;
}

.footer-copy__icon {
  fill: var(--white);
}

.footer-copy__icon:hover {
  fill: var(--dark-pink);
}
