$black: #222222;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$white: #ffffff;
$light-gray: #fbfbfb;
$dark-gray: #5d5d5d;
$gray: #9f9f9f;
$ghost-white: #f8f8f8;
$light-pink: #ff6a6a;
$light-red: #f26376;
$night: #000000;
$gray-cloud: #e1e1e1;
$silver: #6f6e6e;
$light-silver: #e8e8e8;
$gray-gray: #3a3838db;
$snow: #f8f3f4;
$slate-gray: #b1b1b1;
$lavender: #e5e5e5;
$dark-grey: #a4a4a4;
$vampire-grey: #575757;
$dim-gray: #656565;
$platinum: #eaeaea;
$iron-gray: #f5f3f3;
$platinum-silver: #f7f7f7;
$iridium: #4d4d4d;
