.card {
  height: 175px;
  background-color: $snow;
  display: flex;
  align-items: center;

  .card__title {
    @include font(24px, 28px, 400);
    color: $dark-pink;
    text-transform: uppercase;
  }
}

.card__holder {
  display: flex;
}

.card__info-box {
  display: flex;
}

.card__container {
  background-color: $lavender;
}
