.header {
  background-color: $black;

  .header__title {
    @include font(14px, 17px, 700);
    padding: 9px 0 4px 33px;
    text-transform: uppercase;
  }

  .header__box {
    display: flex;
    align-items: center;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
  }

  .header__menu {
    display: none;
    background-color: $white;
  }

  .header__menu-icon {
    fill: $silver;
  }

  .header__menu-button:active .header__menu-icon {
    fill: $slate-gray;
  }

  .header__menu-icon:hover {
    fill: $night;
  }

  .header__menu-button {
    padding: 16px 0 0 203px;
    background-color: transparent;
    border: none;
  }

  .header__icon {
    fill: $light-silver;
  }

  .header__icon:hover {
    fill: $silver;
  }

  .header__icon:active {
    fill: $snow;
  }

  .header__logo {
    padding: 0 41px 0 0;
  }

  .header__dropdown {
    display: flex;
    height: 75px;
    align-items: center;
  }

  .header__dropdown:hover .header__menu {
    display: block;
    position: absolute;
    top: 75px;
    width: 232px;
    height: 765px;
    box-shadow: 20px $silver;
    z-index: 2;
  }

  .header__dropdown:hover .header__icon {
    fill: $silver;
  }

  .header__search {
    background: transparent;
    border: none;
  }

  .header__search-img {
    fill: $white;
    height: 28px;
  }

  .header__search-img:hover {
    fill: $gray;
  }

  .header__button {
    background: transparent;
    border: none;
  }

  .header__profile {
    padding: 0 33px 0 33px;
  }

  @media (max-width: 1024px) {
    .header__logo {
      padding: 0 41px 0 16px;
    }

    .header__basket {
      padding: 0 16px 0 0;
    }
  }

  @media (max-width: 667px) {
    .header__basket {
      display: none;
    }

    .header__profile {
      display: none;
    }
  }
}
