.sale {
  margin: 33px 0 0 0;

  .sale__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sale__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 31.6%;
    height: 260px;
    text-decoration: none;
    margin: 30px 0 0 0;
    background-size: cover;
    text-align: center;
  }

  .sale__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
  }

  .sale__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: $dark-pink;
    text-transform: uppercase;
  }

  .sale__link {
    text-decoration: none;
  }

  .sale__link-women {
    background-image: url(../img/sale_woman.jpg);
  }

  .sale__link-men {
    background-image: url(../img/sale_men.jpg);
  }

  .sale__link-kids {
    background-image: url(../img/sale_kids.jpg);
  }

  .sale__link-accesories {
    min-width: 100%;
    height: 180px;
    background-image: url(../img/sale_accesories.jpg);
    background-size: cover;
  }

  @media (max-width: 1024px) {
    .sale__item {
      width: 31.5%;
      height: 168px;
      margin: 20px 0 0 0;
    }

    .sale__link-accesories {
      height: 116px;
    }
  }

  @media (max-width: 667px) {
    .sale__item {
      width: 100%;
      height: 247px;
      margin: 32px 0 0 0;
    }

    .sale__link-accesories {
      height: 111px;
    }
  }
}
@media (max-width: 1024px) {
  .sale {
    margin: 0;
  }
}

@media (max-width: 667px) {
  .sale {
    margin: 32px 0 0 0;
  }
}
